@mixin multi-line-ellipsis($width) {
  overflow: hidden;
  text-overflow: ellipsis;
  width: $width;
  white-space: nowrap;
}

@mixin flex-center($direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}

@mixin space-between() {
  display: flex;
  justify-content: space-between;
}

